h3 {
	margin-top: 50px;
}

h3.first {
	margin-top: 0px;
}

.container {
	max-width: 700px;
}

.list-inline > li {
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.list-unstyled >li {
	padding-bottom: 10px;
}

.marginleft180 {
	margin-left: 180px;
}

#refresh-btn {
	float: right
}